{{ define "main" }}

{{ range first 3 .Site.RegularPages }}
  <div class="card" onclick="window.location='{{ .RelPermalink }}'">
    <div class="card-content">
      <div class="media">
        {{if isset .Params "featured_image" }}
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="{{ index .Params "featured_image" }}" alt="Placeholder image">
            </figure>
          </div>
        {{ end }}
        <div class="media-content">
          <strong>{{ .Title }}</strong> // <time datetime="2016-1-1">{{ partial "metadata.html" . }}</time>
          <br>{{slicestr .Summary 0 100}} <a href="{{ .RelPermalink }}">Continua</a>.
        </div>
      </div>
    </div>
  </div>
  <br>
{{end}}



{{ end }}





  

